parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        -
            message: '#Method App\ValueObject\Url::getPath() should return string|null but returns string|false|null\.#'
            path: src/ValueObject/Url.php