<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}my-comics{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="navbar-brand" href="/">my-comics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {{ app.request.pathinfo starts with '/collection' or app.request.pathinfo == '/'  ? 'active' }}" href="/collection/overview">Collection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.pathinfo == '/history' ? 'active' }} disabled" href="/history">History</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {{ app.request.pathinfo starts with '/statistic' ? 'active' }}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Statistic
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/statistic/comics">Comics</a>
                        <a class="dropdown-item" href="/statistic/publishers">Publisher</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a type="button" class="btn btn-light" href="/collection/add-comic"><img src="/images/plus.png" width="15em" title="Bootstrap"></a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main">
        {% block body %}{% endblock %}
    </main>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
